html, body {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  color: white;
  font-size: 3rem;
  font-family: Helvetica Neue, Sans Serif, Times New Roman;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container > br {
  width: 100%;
  content: '';
}

.container button {
  text-transform: uppercase;
  height: 4rem;
  width: 10rem;
  font-weight: bold;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  border: 5px solid white;
  margin: auto;
  display: block;
}

.music {
  max-width: 1200px;
  margin: auto !important;
}

.black {
  color: black;
}

.album img {
  padding: 2rem;
}
