
body {
  background-color: #FFFAFA;
}

.about {
  margin: auto;
  text-align: center;
  padding-right: 3rem;
}

.half {
  float: left;
}

img {
  max-height: 400px;
}

.center {
  text-align: center;
}

.content {
  padding: 2rem;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.above-the-fold {
  text-align: center;
}

.above-the-fold p {
  margin: 3rem;
}

.hidden {
  display: none;
}

.contact {
  padding-left: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-left: 0.20rem solid black;
}

.contact-title {
  text-decoration: underline;
  margin: 0;
}

.about-title {
  margin: 0;
  padding-top: 2rem;
}
