
body {
  background-color: #FFFAFA;
}

.about {
  margin: auto;
  text-align: center;
}

img {
  max-height: 400px;
}

.content {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.above-the-fold {
  text-align: center;
}

.above-the-fold p:first {
  margin-bottom: 3rem;
}

.above-the-fold p:last {
  margin-top: 3rem;
}